// Start Section Contact Footer

.footer-contact-wrapper {
  background-color: $secondaryColor;
  padding: 40px 20px;
  border-radius: 30px 30px 0 0;
  gap: 20px;
  row-gap: 30px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;

  .contact-block {
    display: flex;
    align-items: center;
    gap: 25px;

    &:hover {
      .figure-block {
        &::before {
          background-color: rgba($primaryColor, 0.9);
        }
      }
    }
  }

  .contact-desc {
    .title {
      font-size: 1.8rem;
      color: $thirdColor;
      font-weight: 400;
      margin-bottom: 10px;
    }
    .subtitle {
      font-size: 1.8rem;
      color: $primaryColor;
      font-weight: 700;
      display: block;
      direction: ltr;
    }
  }

  .figure-block {
    position: relative;
    z-index: 0;

    @include xs {
      width: 30px;
    }

    &::before {
      position: absolute;
      content: "";
      @include circle(76px);
      background-color: rgba(#e8bc03, 0.31);
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;
      transition: 0.5s;

      @include xs {
        @include circle(60px);
      }
    }
  }
}

// End Section Contact Footer
.footer_contacts_links_wrapper__ {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 30px;
}

.footer_sec__ {
  position: relative;
  background-blend-mode: overlay;
  background-size: cover;
  background-color: $primaryColor;
  padding-top: 53px;
  overflow: hidden;
  border-radius: 30px 30px 0 0;

  .big_circle_shape,
  .small_circle_shape {
    background-color: rgba($secondaryColor, 0.05);
  }

  .small_circle_shape {
    top: 10%;
    inset-inline-start: 15%;
  }

  .big_circle_shape {
    top: 40%;
    inset-inline-start: 0;
  }

  &::before,
  &::after {
    position: absolute;
    content: "";
    background-color: rgba($secondaryColor, 0.05);
  }

  &::before {
    @include circle(76px);
    top: 50%;
    inset-inline-start: 30%;
  }

  &::after {
    @include circle(46px);
    top: 10%;
    inset-inline-start: 50%;
  }

  @include sm {
    &::before {
      top: 10%;
      inset-inline-start: 80%;
    }

    &::after {
      top: 50%;
      inset-inline-start: 70%;
    }
  }
}

.footer_logo__ {
  max-width: 120px;

  // filter: brightness(0) invert(1);

  @include sm {
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
  }
}

.footer_parg {
  font-size: 1.4rem;
  font-weight: 400;
  color: #fff;
  padding-inline-end: 40px;
  text-align: start;

  @include sm {
    text-align: center;
    padding-inline-end: 0;
  }
}

.footer_head__ {
  font-size: 1.4rem;
  font-weight: 700;
  color: #fff;
  margin-bottom: 15px;
  text-align: start;
}

.footer_list__ {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
  margin: 0 auto;
  column-gap: 40px;
  row-gap: 10px;
  margin-bottom: 40px;
  padding: 0;
  margin-inline-start: 25px;

  @include sm {
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  }

  @include xs {
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  }

  @include xxs {
    grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
  }

  a {
    font-size: 1.4rem;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    transition: 0.5s;
    display: flex;
    align-items: center;
    text-align: start;
    gap: 15px;
    width: fit-content;
    position: relative;

    @include dir {
      font-size: 12px;
    }

    &::before {
      position: absolute;
      content: "";
      @include circle(14px);
      border: 2px solid #fff;
      inset-inline-start: -21px;
      transition: 0.5s;
    }

    &:hover {
      opacity: 0.8;
      color: $secondaryColor;

      &::before {
        opacity: 0.8;
        border-color: $secondaryColor;
      }
    }
  }
}

.footer_contacts {
  li {
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
}

.footer_socials__ {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  position: relative;

  @include sm {
    justify-content: center;
  }

  .li__ {
    &:not(:last-child) {
      margin-inline-end: 12px;
    }

    @include xxs {
      &:not(:last-child) {
        margin-inline-end: 5px;
      }
    }

    &::before,
    &::after {
      position: absolute;
      content: "";
      background-color: rgba($secondaryColor, 0.01);
    }

    &::before {
      @include circle(76px);
      top: -95%;
      inset-inline-end: -50%;
    }

    &::after {
      @include circle(46px);
      bottom: -80%;
      inset-inline-start: -75%;
    }
  }

  .link__ {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33px;
    height: 33px;
    transition: 0.5s;
    background-color: rgba($secondaryColor, 0.12);
    border-radius: 50%;
    padding: 10px;

    img {
      filter: none;
    }

    &:hover {
      // background-color: #fff;
      background-color: $secondaryColor;

      img {
        filter: invert(1) !important;
      }
    }
  }
}

.copyrights_content___ {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
  color: #fff;
  margin: 0;
  font-size: 18px;
  background-color: $primaryColor;
  border: 0;

  @include sm {
    padding: 20px 0;
    justify-content: center;
  }

  @include xxs {
    font-size: 12px;
  }

  .copyright_icon__,
  .copyright_logo__ {
    filter: brightness(0) invert(1);
  }

  .copyright_icon__ {
    margin-inline-end: 10px;
  }

  .copyright_logo__ {
    margin-inline-start: 10px;
  }
}
