// Main colors
$primaryColor: #121212;
$secondaryColor: #ffd500;
$thirdColor: #393636;
$greyColor: #f5f5f5;
$blackColor: #000;
$greenColor: #00cc30;
$secondGreyColor: #9b9b9b;
$mainRedColor: #f0053c;
$orangeColor: #efb104;

$mainBoxShadow: 0 0 60px rgba(#acacac, 0.13);
$secondaryBoxShadow: 0 0 30px rgba(#acacac, 0.13);

$borderColor: #818181;
$mainBackgroundColor: #f2f3fc;
$borderBreakColor: #d9e0e5;

// Transitions
$mainTransition: 0.5s;
$secondaryTransition: 0.3s;

// Head colors
$headingMainColor: #121212;
$headingSecondaryColor: #393636;
$headingThirdColor: #17355a;

// Paragraph Colors
$paragraphMainColor: #818181;
$paragraphSecondaryColor: #393636;

//Brands Colors
$twitterColor: #14171a;
$twitterSecondaryColor: #1da1f2;
$facebookColor: #1877f2;
$linkedinColor: #0a66c2;
$whatsappColor: #075e54;
$instagramColor: #405de6;
$instagramSecondaryColor: #fd1d1d;
$snapchatColor: #fffc00;

//Border radius
$mainBorderRadius: 10px;
$secondaryBorderRadius: 10px;
$thirdBorderRadius: 20px;

$dir: "ltr";
