.blog_survey {
  background-color: $secondaryColor;
  padding: 15px;
  border-radius: 10px;
  margin: 100px 0;
  display: flex;
  gap: 16%;
  padding-inline-start: 6%;

  .icon__ {
    filter: brightness(0);
  }
  .title {
    padding-bottom: 20px;
    font-size: 1.6rem;
    font-weight: 700;
    color: $headingThirdColor;
  }

  @include sm {
    margin: 50px 0;
  }

  @include xxs {
    gap: 10px;
    margin: 20px 0;

    .title {
      padding-bottom: 10px;
    }
  }
}
