.section_main_title__ {
  font-size: 2.2rem;
  font-weight: 700;
  width: fit-content;
  color: $primaryColor;
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 2px;
  inset-inline-start: 10px;

  &.title_new_problem_solved {
    font-size: 2rem;
    color: #000;
    font-weight: 800;
    padding-bottom: 30px;

    &::before {
      display: none;
    }

    @include xxs {
      padding-bottom: 15px;
    }
  }

  &.problem_details_title {
    font-size: 1.6rem;
    padding-top: 40px;
    padding-bottom: 25px;

    @include sm {
      padding-top: 20px;
      padding-bottom: 10px;
    }

    @include xxs {
      padding-top: 15px;
      padding-bottom: 5px;
    }

    &::before {
      display: none;
    }
  }

  &::before {
    content: "";
    position: absolute;
    inset-inline-start: -10px;
    top: 0;
    opacity: 1;
    border-inline-start: 4px solid #83c0c1;
    width: 100%;
    height: 100%;
    transition: 0.5s;
  }

  &.none_margin {
    margin-bottom: 0;
  }

  &.small_margin_bottom__ {
    margin-bottom: 16px;
  }
}

.section_sub_title__ {
  font-size: 1.6rem;
  font-weight: 700;
  color: $headingSecondaryColor;
  margin-top: 12px;
  text-align: start;
  line-height: 30px;

  // @include xs {
  //   font-size: 1.4rem;
  // }
}

.section_head_wrapper {
  position: relative;
  margin-bottom: 15px;

  @include xs {
    margin-bottom: 5px;
  }

  &.m_top_bottom {
    margin-top: 30px;
    margin-bottom: 20px;
  }
  &.center {
    .section_main_title__,
    .section_sub_title__ {
      text-align: center;
      margin-inline-end: auto;
      margin-inline-start: auto;
    }
  }

  &.flex_display {
    display: flex;
    align-items: center;

    &.justify_content_between {
      justify-content: space-between;
    }

    @include xxs {
      flex-direction: column;
      row-gap: 30px;
    }
  }

  &.white_color__ {
    .section_main_title__,
    .section_sub_title__ {
      color: #fff;

      // &::after,
      // &::before {
      //   background-color: #fff;
      // }
    }
  }

  &.small_size_dir_column {
    @include sm {
      gap: 20px;
      flex-direction: column;
    }
  }

  &.small_size_center__ {
    @include sm {
      .page_main_title__,
      .page_sub_title__ {
        text-align: center;
        margin-inline-start: 0;
        margin-inline-end: 0;
      }
    }
  }

  &.none_margin__ {
    margin: 0 !important;
  }

  &.large_margin {
    margin-bottom: 40px;
  }
}

.title_icon_wrapper__ {
  display: flex;
  align-items: center;
  gap: 10px;
}
