.main_card {
  display: block;
  position: relative;
  padding: 50px;
  border-radius: 20px;
  background-color: $greyColor;
  transition: 0.5s;
  margin: 0 auto;
  width: 100%;

  &::before,
  &::after {
    position: absolute;
    content: url("../images/shapes/card_traingle.png");
    width: 42px;
    height: 42px;
    transition: 0.5s;
  }

  &::before {
    top: 5%;
    inset-inline-start: 12%;
  }

  &::after {
    bottom: 10%;
    inset-inline-end: 10%;
  }

  @include xxs {
    width: auto;
    padding: 25px;
  }

  .title {
    font-size: 2.5rem;
    font-weight: 700;
    color: $headingMainColor;
    margin-bottom: 8px;
    inset-inline-start: 10px;
    text-align: start;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      inset-inline-start: -10px;
      top: 0;
      opacity: 1;
      border-inline-start: 4px solid $secondaryColor;
      width: 100%;
      height: 100%;
      transition: 0.5s;
    }

    @include xs {
      margin-bottom: 10px;
    }
  }

  .parg {
    font-size: 1.4rem;
    color: $paragraphMainColor;
    font-weight: 400;
    margin-bottom: 20px;
    text-align: start;
    transition: 0.5s;
    position: relative;

    &::before,
    &::after {
      position: absolute;
      content: url("../images/shapes/card_b_triangle.png");
      width: 42px;
      height: 42px;
      transition: 0.5s;
    }

    &::before {
      top: -61%;
      inset-inline-end: -3%;
    }

    &::after {
      top: -61%;
      inset-inline-end: 41%;
    }
  }

  &:hover {
    transform: translateY(-10px);
    background-color: $secondaryColor;

    .title {
      &::before {
        border-color: #fff;
      }
    }

    .parg {
      color: $thirdColor;

      &::before,
      &::after {
        content: url("../images/shapes/hover_b_traingle.png");
      }
    }

    &::before,
    &::after {
      content: url("../images/shapes/hover_traingle.png");
    }
  }
}
