.numbers_wrapper {
  display: flex;
  gap: 60px;
  flex-wrap: wrap;

  @include md {
    gap: 35px;

    .link__ {
      &:not(:first-child) {
        &:before {
          width: 35px;
        }
      }
    }
  }

  @include sm {
    gap: 35px;

    .link__ {
      @include circle(35px);
      min-width: 35px;
      font-size: 1.4rem;

      &:not(:first-child) {
        &:before {
          width: 35px;
        }
      }
    }
  }

  @include xs {
    gap: 11px;

    .link__ {
      &:not(:first-child) {
        &:before {
          width: 11px;
        }
      }
    }
  }

  @include xxs {
    gap: 2px;
    justify-content: space-around;

    .link__ {
      @include circle(26px);
      min-width: 25px;
      font-size: 1.2rem;

      &:not(:first-child) {
        &:before {
          display: none;
        }
      }
    }
  }
}
