.qustions_desc {
  width: 70%;

  @include sm {
    margin: 0 auto;
  }

  @include xxs {
    width: 80%;
  }
  .title {
    font-size: 2rem;
    font-weight: 800;
    color: $blackColor;
    margin-bottom: 15px;
  }

  .subtitle {
    font-size: 1.6rem;
    font-weight: 300;
    color: $paragraphMainColor;
    margin-bottom: 15px;
    line-height: 33px;
    margin-bottom: 40px;
  }
}

.numbers_wrapper {
  display: flex;
  gap: 60px;
  flex-wrap: wrap;

  @include md {
    gap: 35px;

    .link__ {
      &:not(:first-child) {
        &:before {
          width: 35px;
        }
      }
    }
  }

  @include sm {
    gap: 35px;

    .link__ {
      @include circle(35px);
      min-width: 35px;
      font-size: 1.4rem;

      &:not(:first-child) {
        &:before {
          width: 35px;
        }
      }
    }
  }

  @include xs {
    gap: 11px;

    .link__ {
      &:not(:first-child) {
        &:before {
          width: 11px;
        }
      }
    }
  }

  @include xxs {
    gap: 2px;
    justify-content: space-around;

    .link__ {
      @include circle(26px);
      min-width: 25px;
      font-size: 1.2rem;

      &:not(:first-child) {
        &:before {
          display: none;
        }
      }
    }
  }
}

.location_desc {
  padding-top: 60px;
  padding-bottom: 50px;

  @include sm {
    padding-top: 40px;
    padding-bottom: 30px;
  }

  @include xxs {
    padding-top: 20px;
    padding-bottom: 15px;
  }
  .title {
    font-size: 1.6rem;
    font-weight: 400;
    color: $blackColor;
    padding-bottom: 15px;
  }
}

.steps_options {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.problem_share {
  @include p-bottom(385, 520);
}
